[submodule "evmc"]
	path = evmc
	url = https://github.com/torquem-ch/evmc
	branch = public_result
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
